@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Comfortaa:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&family=Syncopate:wght@400;700&family=Timmana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Comfortaa:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&family=Syncopate:wght@400;700&family=Timmana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Comfortaa:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&family=Syncopate:wght@400;700&family=Timmana&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
header {
    font-family: "Roboto", sans-serif;
    position: absolute;
    width: 100%;
    padding: 20px 0;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
}
header li {
    list-style-type: none;
}
.main  {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact {
    width: 1200px;
    margin: 0 auto;
}
.left-main h1{
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-size: 37px;
    line-height: 38px;
    color: white;
}
.left-main .btn1 {
    width: 300px;
    border: 1px solid #ff7f36;
    background-color: #733d15d0;
    padding: 13px 25px;
    font-size: 20px;
    color: rgb(189, 172, 172);
    cursor: pointer;
    border-radius: 5px;
}
.left-main .btn1:hover {
    background-color: #75411c;
}
.links {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}
.main .contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav {
    width: 100%;
}
.bars {
    display: none;
}
.menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4.5rem;
}
.header-ul li a{
    color: white;
    font-weight: 300;
}
.header-ul li a:hover{
    color: rgb(235, 231, 223);
}
.contactt p {
    color: #FFDF9E;
    font-weight: 300;
}
.main {
    background-image: url(./img/Главная\ картинка\ \(1\).png);
    background-size: cover;
}
.branch {
    width: 100%;
    position: relative;
    font-family: "Roboto", sans-serif;
}
.top1 {
    padding-bottom: 10px;
}
.companiy {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 90px;
    gap: 3rem;
}
.companiy .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.branchs {
    background-color: #1f1d16d9;
    width: 79%;
    top: -100px;
    padding: 20px 60px;
    display: flex;
    align-items: end;
    justify-content: center;
    gap: 5rem;
    border-radius: 10px;
    position: absolute;
    text-align: center;
}
.compan {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #59544d;
    border-radius: 10px;
    color: #ffdf9e;
}
.compan h1 {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-size: 25px;
}
.compan p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
}
.buta {
    position: relative;
}
.buta img {
    position: absolute;
    top: 90px;
}
.nick-name {
    width: 100%;
    display: flex;
    gap: 2.2rem;
    padding-bottom: 25px;
    align-items: end !important;
    justify-content: end !important;
}
.nick-name h1 {
    margin-bottom: -7px;
}
.photos {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.item-photo-left {
    position: relative;
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
}
.item-photo-left img {
    width: 583px;
}
.item-photo-left, .item-photo-right img {
    width: 583px;
}
.photo11 {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item-photo-right .photo1 .photo-text{
    position: absolute;
}
.right .topp {
    top: 0;
    width: 100%;
    height: 60px;
}
.item-photo-left .photo-text {
    position: absolute;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.538);
    width: 100%;
    bottom: 4px;
    display: flex;
    align-items: center;
    font-family: "Roboto", sans-serif;
    justify-content: center;
}
.item-photo-right {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.right-photoo {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    font-family: "Roboto", sans-serif;
    justify-content: end;
}
.right-photoo .photo-text {
    padding: 20px;
    text-align: center;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.538);
    position: absolute;
}
.none {
    display: none;
}
.cadom .contact {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}
.cadom .nick-name h1{
    color: #FFDF9E;
    font-size: 31px;
} 
.cadom .status {
    width: 100%;
    padding: 40px 20px;
    background-color: white;
    z-index: 10;
    border-radius: 10px;
}
.status-left .btn1 {
    width: 318px;
    height: 64px;
    color: black;
    top: 2425px;
    left: 1338px;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    opacity: 1;
    border-radius: 5px;
    border-width: 1px;
    border: 1px solid #cccccc;
    background-color: #ffffff;
    box-shadow: 1px 1px 10px -5px black;
}
.cadom {
    width: 100%;
    padding: 50px 0;
    background-image: url(./img/20190730_090416\ 1.png);
    background-size: cover;
}
.status-left {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.branch2 {
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    padding: 20px;
    line-height: 25px;
    border-radius: 10px;
    font-weight: 300;
    color: #FFDF9E;
    background-color: #59544d;
}
.barnch-boxes {
    width: 100%;
    font-family: "Roboto", sans-serif;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: auto auto auto;
}
.box-item5 {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.box-item5 p {
    font-size: 14px;
}
.active {
    border-right: 20px solid #ff7f36 !important;
    border-bottom: 2px solid #ff7f36 !important;
    border-left: 2px solid #ff7f36 !important;
    border-top: 2px solid #ff7f36 !important;
    background-color: #f5e8df !important;
}
.boxs {
    display: flex;
    align-items: center;
    gap: 2.5rem;
}
.status-right li {
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    font-family: "Roboto", sans-serif;
    letter-spacing: 5%;
}
.status-bootom {
    padding-top: 40px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 6%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
#foc {
    display: none;
}
.non2 {
    display: none;
}
.cadom .buta {
    display: none;

}
.compan {
    z-index: 10;
}
.land .contact {
    padding-top: 60px;
}
.commit {
    width: 100%;
    padding: 70px 0;
    text-align: center;
}
.commit .svgg h1 {
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color:#34642C;
    font-family: "Merriweather", serif;
    padding-top: 10px;
}
.comts {
    width: 100%;
    display: flex;
    padding-top: 70px;
}
.comts h3 {
    font-size: 15px;
    line-height: 100%;
    text-align: justify;
    font-family: "Roboto", sans-serif;
    
}
.dff {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    text-align: start;
    gap: 2rem;
}
.dff h3 {
    font-size: 20px;
    font-weight: 400;
}
.non7 p{
    top: 2957px;
    left: 64px;
    opacity: 1;
    
}
.non7 {
    display: none !important;
    padding: 15px;
    background-color: #f5f5f5d6;
}
.comit-item {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
}
.comts p {
    width: 340px;
    font-weight: 400;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    line-height: 100%;
    color: #34642C;
    text-align: justify;
    
}
.commit .buta {
    display: none;
}
footer {
    width: 100%;
    padding-top: 50px;
    color: white;
    background-color: #59544d;
}
.twa {
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
}
.twa img {
    width: 100%;
    bottom: 0;
}
footer .content {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding-right: 150px;
}
.name ul {
    display: flex;
    gap: 1.8rem;
    align-items: center;
    list-style-type: none;
}
.name h1 {
    font-size: 25px;
    font-weight: 300;
}
.name {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.linkk {
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding-top: 25px;
}
.linkk ul {
    list-style-type: none;
}
.bold {
    font-weight: 300;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}
.linkk ul li {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 15px;
    padding-top: 5px;
}
.linkk ul li a {
    color: white;
}
.photos {
    padding-bottom: 40px;
}
@media(max-width:1200px) {
    .contact {
        width: 100%;
        padding: 0 10px;
    }
}
@media(max-width:1198px) {
    .photos {
        flex-direction: column;
    }
    .bloc {
        display: none;
    }
    .none {
        display: block;
    }
    .item-photo-right {
        width: 100%;
        flex-direction: row-reverse;
        padding-right: 10px;
        padding-left: 10px;
    }
    .item-photo-right img {
        width: 100%;
    }
    .item-photo-left {
        width: 100%;
    }
    .photo-text {
        padding: 5px !important;
    }
    .photo1 img{
        width: 100%;
    }
    .nick-name {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center !important;
        justify-content: center;
        font-palette: 1rem;
        text-align: center;
    }
    .right {
        display: grid !important;
        grid-template-columns: auto auto;
    }
}
@media(max-width:1079px) {
    .barnch-boxes {
        grid-template-columns: auto auto;
        padding-left: 10px;
        padding-right: 10px;
    }
    .comts {
        flex-direction: column;
        gap: 5rem;
    }
}
@media(max-width:887px) {
    .header-ul {
        display: none;
    }
    .bars {
        display: flex !important;
        font-size: 20px;
        color: white;
    }
    .non2 {
        display: block;
        font-weight: 400;
        font-size: 14px;
        line-height: 27px;
        font-family: "Roboto", sans-serif;
        letter-spacing: 5%;
    }
    .status-bootom {
        display: none;
    }
    .status-left {
        width: 100%;
    }
    .status-left .btn1 {
        width: 100%;
    }
}
@media(max-width:726px) {
    .barnch-boxes {
        display: flex;
        text-align: start;
        justify-content: start !important;
        flex-direction: column;
        padding-left: 10px;
        padding-top: 40px;
        padding-right: 10px;
        padding-bottom: 20px;
    }
    .barnch-boxes img {
        width: 100%;
    }
}
@media(max-width:600px) {
    .cadom {
        background: white;
    }
    .cadom .buta {
        margin-top: -300px;
        position: absolute;
        display: block;
    }
    .branchs {
        display: none;
    }
    .content {
        width: 100% !important;
        padding-right: 20px !important;
        padding-left: 20px !important;
    }
    .non7 {
        display: flex !important;
        align-items: start;
        z-index: 10;
        justify-content: start;
    }
    .comit-item {
        display: none;
    }
    .comts {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
    }
    .commit .buta {
        display: flex;
        position: absolute;
        margin-top: -300px;
        right: 170px;
    }
    .boxs {
        flex-wrap: wrap-reverse;
        align-items: center;
        justify-content: center;
        text-align: start;
    }
    .non1 {
        display: none;
    }
    .nick-name h1 {
        color: #34642C !important;
    }
}
@media(max-width:556px) {
    .contact {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 20px;
        text-align: center;
        padding-right: 20px;
    }
    .foc2 {
        display: none;
    }
    #foc {
        display: flex;
    }
    .barnch-boxes {
        padding-top: 40px;
    }
    .main .contact {
        padding-top: 70px;
    }
    .links {
        flex-direction: row;
        padding-top: 50px;
    }
    .left-main img {
        width: 60vw;
    }
    .left-main h1 {
        font-size: 25px;
        padding-bottom: 2rem;
    }
    .comts p {
        width: 100%;
    }
    .name {
        flex-direction: column;
        gap: 2rem;
        text-align: start;
        align-items: start;
    }
    .linkk {
        align-items: start;
        text-align: start;
        justify-content: start;
        gap: 2rem;
        flex-direction: column;
    }
}